<?xml version="1.0" encoding="UTF-8"?>
<desiredgraphs>
  <graph title="Test1" xlabel="Seconds" ylabel="Pitch y">
    <metric label="main" data_stream="pitch" func="x" color="blue"></metric>
    <metric label="target" data_stream="target_pitch_velocity" func="x" color="orange"></metric>
  </graph>
  <graph title="Test2" xlabel="Seconds" ylabel="Roll y">
    <metric label="main" data_stream="pitch" func="x" color="blue"></metric>
    <metric label="target" data_stream="target_roll_velocity" func="x" color="orange"></metric>
    <metric label="testeroni" data_stream="pitch" func="x/3" color="green"></metric>
  </graph>
  
</desiredgraphs>