[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dronekit = "==2.9.1"
pymavlink = "==2.2.21"
coloredlogs = "*"
simple-pid = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
future = "*"
lxml = "*"
opencv-python = "*"
scipy = "*"
sklearn = "*"
serial = "*"
MAVProxy = "==1.7.7"
Flask = "*"
enum = "*"

[requires]
python_version = "2.7"
